.box {
  border: 1px solid #000;
  border-radius: 0.8em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 10em;
  width: 20em;
}

.box p {
  margin-bottom: 1em;
}